/*
    Document   : css/1600.css
    Created on : 2016-03-19 06:24 PM
    Author     : callumthursby
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

@media (min-width: 1600px) {


    root {
        display: block;
    }
   
}

