/*
    Document   : css/992.css
    Created on : 2016-03-19 06:25 PM
    Author     : callumthursby
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

@media (min-width: 992px) and (max-width: 1199px) {

    root {
        display: block;
    }
    
}