/*
    Document   : css/main.css
    Created on : 2016-03-21 04:06 PM
    Author     : callumthursby
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}


/* Tool Tips */
.tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;
 
    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}

#submitBtn{
    background-color:green; 
    border:none;
    color:white;
    padding:15px 32px;
    text-align:center; 
    text-decoration:none;
    display:inline-block;
    font-size:16px; 
    -webkit-transition-duration:0.4s; 
    transition-duration:0.4s; 
    cursor:pointer; 
}

#submitBtn:hover{
    background-color:white;
    color:black;
    border: 2px solid green; 
}


/* Pick Rep CSS */

#pickRep.fade-out{
    opacity:0;
}

#pickRep.fade-in{
    opacity:1; 
}

#pickRepBG.fade-out{
    opacity:0;
}

#pickRepBG.fade-in{
    opacity:1; 
}

#submitBtn2{
    background-color:green; 
    border:none;
    color:white;
    padding:15px 32px;
    text-align:center; 
    text-decoration:none;
    display:inline-block;
    font-size:16px; 
    -webkit-transition-duration:0.4s; 
    transition-duration:0.4s; 
    cursor:pointer; 
}

#submitBtn2:hover{
    background-color:white;
    color:black;
    border: 2px solid green; 
}

/* Display Rep CSS */
#displayRepBG.fade-out{
    opacity:0;
}

#displayRepBG.fade-in{
    opacity:1; 
}

#displayRep.fade-out{
    opacity:0;
}

#displayRep.fade-in{
    opacity:1; 
}